{
    # device1: sensors, actuators
    'interbotix':{
        'interface': {'type': 'interbotix', 'ip_address':'169.254.163.91'},
        'sensor':[
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'waist_pos'},
            {'range':(-1.85005, 1.25664), 'noise':0.05, 'hdr_id':1, 'scale':1, 'offset':0, 'name':'shoulder_pos'},
            {'range':(-1.76278, 1.6057), 'noise':0.05, 'hdr_id':2, 'scale':1, 'offset':0, 'name':'elbow_pos'},
            {'range':(-1.8675, 2.23402), 'noise':0.05, 'hdr_id':3, 'scale':1, 'offset':0, 'name':'wrist_angle_pos'},
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':4, 'scale':1, 'offset':0, 'name':'wrist_rotate_pos'},
            {'range':(-3.14, 3.14), 'noise':0.05, 'hdr_id':0, 'scale':5, 'offset':0, 'name':'gripper_pos'},
            {'range':(0.021, 0.057), 'noise':0.05, 'hdr_id':0, 'scale':-1, 'offset':0, 'name':'left_finger_pos'},
            {'range':(-0.057, -0.021), 'noise':0.05, 'hdr_id':0, 'scale':-1, 'offset':0, 'name':'right_finger_pos'},
        ],

        'actuator':[
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'waist'},
            {'pos_range':(-1.85005, 1.25664), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':1, 'scale':1, 'offset':0, 'name':'shoulder'},
            {'pos_range':(-1.76278, 1.6057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':2, 'scale':1, 'offset':0, 'name':'elbow'},
            {'pos_range':(-1.8675, 2.23402), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':3, 'scale':1, 'offset':0, 'name':'wrist_angle'},
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':4, 'scale':1, 'offset':0, 'name':'wrist_rotate'},
            {'pos_range':(-3.14, 3.14), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':5, 'offset':0, 'name':'gripper'},
            {'pos_range':(0.021, 0.057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':-1, 'offset':0, 'name':'left_finger'},
            {'pos_range':(-0.057, -0.021), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':-1, 'offset':0, 'name':'right_finger'},
        ]
    },
    'object':{
        'interface':{},
        'sensor':[
            {'range':(-1.0, 1.0), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Tx'},
            {'range':(-0.5, 0.5), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Ty'},
            {'range':(-1.0, 1.0), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Tz'},
            {'range':(-3.1, 3.1), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Rx'},
            {'range':(-3.1, 3.1), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Ry'},
            {'range':(-3.1, 3.1), 'noise':0.005, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'Rz'},
        ],
        'actuator':[]
    }
}
