{
    'arm0':{
        'interface': {'type': 'ur5'},
        'sensor':[
            {'range':(-6.28319, 6.28319), 'name':'shoulder_pan_pos', 'noise':0.0, 'hdr_id':0, 'scale':1, 'offset':0},
            {'range':(-6.28319, 6.28319), 'name':'shoulder_lift_pos', 'noise':0.0, 'hdr_id':1, 'scale':1, 'offset':0},
            {'range':(-3.1415, 3.1415), 'name':'elbow_pos', 'noise':0.0, 'hdr_id':2, 'scale':1, 'offset':0},
            {'range':(-6.28319, 6.28319), 'name':'wrist_1_pos', 'noise':0.0, 'hdr_id':3, 'scale':1, 'offset':0},
            {'range':(-6.28319, 6.28319), 'name':'wrist_2_pos', 'noise':0.0, 'hdr_id':4, 'scale':1, 'offset':0},
            {'range':(-6.28319, 6.28319), 'name':'wrist_3_pos', 'noise':0.0, 'hdr_id':5, 'scale':1, 'offset':0},
            {'range':(0,0.055), 'name':'gripper_pos', 'noise':0.0, 'hdr_id':6, 'scale':1, 'offset':0},
        ],

        'actuator':[
            {'pos_range':(-6.28319, 6.28319), 'name':'shoulder_pan', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0},
            {'pos_range':(-6.28319, 6.28319), 'name':'shoulder_lift', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':1, 'scale':1, 'offset':0},
            {'pos_range':(-3.1415, 3.1415), 'name':'elbow', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':2, 'scale':1, 'offset':0},
            {'pos_range':(-6.28319, 6.28319), 'name':'wrist_1', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':3, 'scale':1, 'offset':0},
            {'pos_range':(-6.28319, 6.28319), 'name':'wrist_2', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':4, 'scale':1, 'offset':0},
            {'pos_range':(-6.28319, 6.28319), 'name':'wrist_3', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':5, 'scale':1, 'offset':0},
            {'pos_range':(0,0.055), 'name':'gripper', 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':6, 'scale':1, 'offset':0},
        ],
    },
}
