{
    # device1: sensors, actuators
    'arm0':{
        'interface': {'type': 'interbotix_arm', 'arm_model': 'vx300s', 'ip_address': '169.254.163.91'},
        'sensor':[
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_waist_pos'},
            {'range':(-1.85005, 1.25664), 'noise':0.05, 'hdr_id':1, 'scale':1, 'offset':0, 'name':'vx300s_arm0_shoulder_pos'},
            {'range':(-1.76278, 1.6057), 'noise':0.05, 'hdr_id':2, 'scale':1, 'offset':0, 'name':'vx300s_arm0_elbow_pos'},
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':3, 'scale':1, 'offset':0, 'name':'vx300s_arm0_forearm_roll_pos'},
            {'range':(-1.8675, 2.23402), 'noise':0.05, 'hdr_id':4, 'scale':1, 'offset':0, 'name':'vx300s_arm0_wrist_angle_pos'},
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm0_wrist_rotate_pos'},
            {'range':(-3.14, 3.14), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm0_gripper_pos'},
            {'range':(0.021, 0.057), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_left_finger_pos'},
            {'range':(-0.057, -0.021), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_right_finger_pos'},
        ],

        'actuator':[
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_waist_pos'},
            {'pos_range':(-1.85005, 1.25664), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':1, 'scale':1, 'offset':0, 'name':'vx300s_arm0_shoulder_pos'},
            {'pos_range':(-1.76278, 1.6057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':2, 'scale':1, 'offset':0, 'name':'vx300s_arm0_elbow_pos'},
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':3, 'scale':1, 'offset':0, 'name':'vx300s_arm0_forearm_roll_pos'},
            {'pos_range':(-1.8675, 2.23402), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':4, 'scale':1, 'offset':0, 'name':'vx300s_arm0_wrist_angle_pos'},
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm0_wrist_rotate_pos'},
            {'pos_range':(-3.14, 3.14), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_gripper_pos'},
            {'pos_range':(0.021, 0.057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_left_finger_pos'},
            {'pos_range':(-0.057, -0.021), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm0_right_finger_pos'},
        ],
    },

    'arm1':{
        'interface': {'type': 'interbotix_arm', 'arm_model': 'vx300s', 'ip_address': '169.254.163.92'},
        'sensor':[
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_waist_pos'},
            {'range':(-1.85005, 1.25664), 'noise':0.05, 'hdr_id':1, 'scale':1, 'offset':0, 'name':'vx300s_arm1_shoulder_pos'},
            {'range':(-1.76278, 1.6057), 'noise':0.05, 'hdr_id':2, 'scale':1, 'offset':0, 'name':'vx300s_arm1_elbow_pos'},
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':3, 'scale':1, 'offset':0, 'name':'vx300s_arm1_forearm_roll_pos'},
            {'range':(-1.8675, 2.23402), 'noise':0.05, 'hdr_id':4, 'scale':1, 'offset':0, 'name':'vx300s_arm1_wrist_angle_pos'},
            {'range':(-3.14158, 3.14158), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm1_wrist_rotate_pos'},
            {'range':(-3.14, 3.14), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm1_gripper_pos'},
            {'range':(0.021, 0.057), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_left_finger_pos'},
            {'range':(-0.057, -0.021), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_right_finger_pos'},
        ],

        'actuator':[
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_waist_pos'},
            {'pos_range':(-1.85005, 1.25664), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':1, 'scale':1, 'offset':0, 'name':'vx300s_arm1_shoulder_pos'},
            {'pos_range':(-1.76278, 1.6057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':2, 'scale':1, 'offset':0, 'name':'vx300s_arm1_elbow_pos'},
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':3, 'scale':1, 'offset':0, 'name':'vx300s_arm1_forearm_roll_pos'},
            {'pos_range':(-1.8675, 2.23402), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':4, 'scale':1, 'offset':0, 'name':'vx300s_arm1_wrist_angle_pos'},
            {'pos_range':(-3.14158, 3.14158), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':5, 'scale':1, 'offset':0, 'name':'vx300s_arm1_wrist_rotate_pos'},
            {'pos_range':(-3.14, 3.14), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_gripper_pos'},
            {'pos_range':(0.021, 0.057), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_left_finger_pos'},
            {'pos_range':(-0.057, -0.021), 'vel_range':(-4*np.pi/2, 4*np.pi/2), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'vx300s_arm1_right_finger_pos'},
        ],
    },

    'top_cam': {
        'interface': {'type': 'realsense', 'rgb_topic':'top_cam/color/image_raw', 'data_type':'rgb'},
        'sensor':[],
        'cams': [
            {'range':(0, 255), 'noise':0.00, 'hdr_id':'rgb', 'scale':1, 'offset':0, 'name':'/color/image_raw'},
        ],
        'actuator':[]
    },

    'front_cam': {
        'interface': {'type': 'realsense', 'rgb_topic':'front_cam/color/image_raw', 'data_type':'rgb'},
        'sensor':[],
        'cams': [
            {'range':(0, 255), 'noise':0.00, 'hdr_id':'rgb', 'scale':1, 'offset':0, 'name':'/color/image_raw'},
        ],
        'actuator':[]
    },

    'vx300s_arm0_gripper_cam': {
        'interface': {'type': 'realsense', 'rgb_topic':'arm0_cam/color/image_raw', 'data_type':'rgb'},
        'sensor':[],
        'cams': [
            {'range':(0, 255), 'noise':0.00, 'hdr_id':'rgb', 'scale':1, 'offset':0, 'name':'/color/image_raw'},
        ],
        'actuator':[]
    },

    'vx300s_arm1_gripper_cam': {
        'interface': {'type': 'realsense', 'rgb_topic':'arm1_cam/color/image_raw', 'data_type':'rgb'},
        'sensor':[],
        'cams': [
            {'range':(0, 255), 'noise':0.00, 'hdr_id':'rgb', 'scale':1, 'offset':0, 'name':'/color/image_raw'},
        ],
        'actuator':[]
    },
    
}
